.tarjeta-container{
  width: 40%;
  max-width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-bottom: 50px;
  background-color: #D9D9D9;
  position: absolute;
}

.t1{
  left: 5%;
}
.t2{
  left: 37%;
}
.t3{
  right: 5%;
}
