form {
  width: 90%;
  max-width: 600px;
  height: 400px;
  background-color: #D2D2D2; 
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-title{
  font-size: 30px;
  color: #1E1E1F;
  margin-top: 7%;
  margin-bottom: 10%;
}

input{
  margin-top: 20px;
  background-color: rgb(255,255,255);
  border: 2px solid rgb(25,25,25);
  color: rgb(25,25,25);
  font-size: 17px;
}

input:placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.mostrarcon-container{
  margin-top: -10px;
  margin-bottom: 10%;
}

.input-mostrarcon {
  flex-direction: initial;
}

.checkbox-text{
  color: #1E1E1F;
}

.boton-cancelar{
  position: relative;
  bottom: 330px;
  right: 250px;
}

.boton-ingresar{
  width: 90px;
  height: 40px;
  margin-top: -10px;
}


