.register-form {
  width: 90%;
  max-width: 50%;
  height: 450px;
  background-color: #D2D2D2; 
  align-items: center;
}

.section {
  width: 300px;
  bottom: 28%;
  position: absolute;
  flex-direction: column;
  align-items: center;
  display: flex;

}

.section-left{
    left: 30%;
  }

.section-right{
    right: 30%;
  }

a {
  margin-top: 10px;
  margin-bottom: -15px;
  color: #1E1E1F;
}

select {
  border: solid;
  border-width: 2px;
  margin-top: 20px;
  height: 25px;
  width: 190px;
  background-color: rgb(255,255,255);
}

.tiposangre-container{
  margin-top: 15px;
}

.text-gs{
  margin-right: 70px;
}
.select-gs, .select-rh{
  margin-top: 5px;
  width: 95px;
}

.form-title2{
  font-size: 30px;
  color: #1E1E1F;
  margin-top: 3%;
  margin-bottom: 5%;
}

input{
  margin-top: 20px;
  background-color: rgb(255,255,255);
  border: 2px solid rgb(25,25,25);
  color: rgb(25,25,25);
  font-size: 17px;
}

input:placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.mostrarcon-container{
  margin-top: -10px;
  margin-bottom: 10%;
}

.input-mostrarcon {
  flex-direction: initial;
}

.checkbox-text{
  color: #1E1E1F;
}

.boton-cancelar2{
  position: relative;
  height: 25px;
  bottom: 130px;
  right: 390px;
}

.boton-ingresar2{
  position: relative;
  top: 55%;
  width: 90px;
  height: 40px;
}
